@media screen and (min-width: 100px) {
  .backlink {
    margin-top: 85px;
    a {
      position: relative;
      font-size: 14px;
      line-height: 125.75%;
      color: #8D8D8D;
      padding-left: 20px;

      &:before {
        position: absolute;
        content: '';
        top: 3px;
        left: 0;
        width: 10px;
        height: 13px;
        background-image: url("../img/backlink-arrow.svg");
      }
    }
  }
}

@media screen and (min-width: 540px) {

}

@media screen and (min-width: 768px) {
  .backlink {
    margin-top: 120px;
  }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}
