@media screen and (min-width: 100px) {
  .footer {
    background-color: #ffffff;
    border-top: 1px solid #EAEAEA;
    &__wrap {
      padding: 20px 0 0 0;
    }

    &__left {
      a  {
        display: block;
        line-height: 0 !important;
        background: #EFEFF1;
        border-radius: 6px;
        padding: 8px;
        margin-right: 9px;
        transition: all .3s ease-in-out;
        &:hover {
          background: #EFEFF1;
        }
        img {
          height: 20px;
        }
      }
    }

    &__right {


    }
  }
}

@media screen and (min-width: 540px) {
  .footer__wrap {
    padding: 20px 0;
  }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}